<form action="/my-handling-form-page" method="post">
    <div>
        <label for="cedula">CI:   </label>
        <input type="text" id="cedula" />
    </div>
    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" />
    </div>
    <div>
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" />
    </div>
    
    <div>
        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" />
    </div>
    
    <div>
        <label for="Direccion">Dirección:</label>
        <input type="text" id="direccion" />
    </div>
    
    
    
    
    <div class="button">
        <button type="submit">Guardar</button>
    </div>
</form>